@import "mixins";
@import "variables";

.icons-bg-circle {
  font-size: 1.8rem !important;
  &:hover::after {
    content: "";
    background: #eeeded;
    @include circle-hover;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    z-index: -1;
  }
}

.active-icon {
  &::after {
    content: "";
    position: absolute;
    right: -5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $teak;
  }
}

.sparkle {
  @include circle-hover;
  line-height: 2rem !important;
  width: $sparkle-size;
  height: $sparkle-size;
  top: 50%;
  left: 60%;
  margin-left: calc(-1 *#{$sparkle-size}/ 2);
  margin-top: calc(-1 *#{$sparkle-size}/ 2);
  transform: scale(-1, 1);
}

.profile-icon {
  height: calc(#{$dp-icon-size - 2});
  width: calc(#{$dp-icon-size - 2});
  border-radius: 50%;
  background-color: $teak;
  color: #fff;
  position: relative;
}

.uname-first-letter {
  margin: 0px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.home-header {
  padding: 0 !important;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.home-footer {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.filler {
  height: 50px;
  width: 100%;
}

.compose {
  position: fixed;
  width: 53px;
  height: 53px;
  bottom: 69px;
  right: 19px;
  background-color: $teak;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box {
  height: 24px;
  background-color: $porcelain;
  border-radius: 100px;
  display: flex;
  flex-wrap: no-wrap;

  .search-icon {
    line-height: 1 !important   ;
    width: 41px;
    font-size: 18px;
    text-align: right;
    align-self: center;
  }
  .search-input {
    height: 100%;
    padding: 4px 11px;
    margin: 0;
    background: none;
    appearance: none;
    outline: none;
    border: none;
    font-size: 13px;
  }
  &:focus-within {
    background: #ffff;
    border: 1px solid $teak;
  }
}

.sm-icon {
  line-height: 1 !important;
  font-size: 17px !important;
}

.compose-input-text {
  height: 114px;
}
