@import "variables";

.low-opacity-backdrop {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background: #ffff;
  height: 650px;
  min-height: 400px;
  max-width: 80vw;
  width: 600px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
}

.modal-top {
  height: 53px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  .logo-sm-login {
    height: 1.75rem;
  }
  .circle-x {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-20%, -50%);
    &:hover {
      background: #eeeded;
    }
  }
}

.modal-body-cstm {
  min-width: 364px;
  height: min-content;
  margin: auto;
  padding: 0px 30px 46px !important;
  .sign-up-text {
    text-align: left;
    font-size: 14px;
  }
}

.underline-hover {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.hover-dark {
  &:hover {
    background: #212529e1 !important;
  }
}

.eye-container {
  $eye-size: 24px;
  position: absolute;
  bottom: 20px;
  transform: translateY(50%);
  right: 10px;
  height: $eye-size;
  width: $eye-size;
  &:hover {
    background: $pattens-blue;
    border-radius: 50%;
  }
  .eye-checkbox {
    width: $eye-size;
    height: $eye-size;
    opacity: 0;
    margin-left: calc(-1 * (#{$eye-size} / 2));
    position: absolute;
    z-index: 3;
    cursor: pointer;
  }
  .eye {
    position: absolute;
    z-index: 1;
    margin-left: calc(-1 * (#{$eye-size} / 2));
  }
}

.padding-right {
  padding-right: 35px !important;
}

//Signup
.username-input {
  padding-right: 1.7rem !important;
  padding-left: 1.7rem !important;
  &:focus ~ .alt-email {
    opacity: 1;
  }
  &:valid ~ .alt-email {
    opacity: 1;
  }
}

.input-icon-style {
  position: absolute;
  bottom: 11px;
  color: $teak;
  font-size: 1.1rem !important;
}

.alt-email {
  @extend .input-icon-style;
  opacity: 0;
  left: 10px;
}
.check-circle {
  @extend .input-icon-style;
  right: 10px;
}

@media (max-width: 769px) {
  .border-none {
    border-radius: 0;
  }
  .modal-top {
    max-width: 650px;
    margin: 0 auto;
    width: 100%;
  }
}

.input-changer {
  font-size: 15px;
  cursor: pointer;
}

.w-fit-content {
  width: fit-content;
}
