@import "mixins";
@import "variables";

.profile-icon-xl {
  @include profile-icon;
  width: 100%;
  height: 100%;
}

.active-tab {
  border-bottom: 4px solid $dark-teak;
}

.tab-hover:hover {
  background-color: $porcelain;
}

.profile-banner {
  padding-bottom: 35%;
  background-color: $porcelain;
}

.dp-container {
  width: 13vh;
  height: 13vh;
  margin-top: -49%;
}

.align-sub {
  vertical-align: sub;
}

.options-border {
  border-radius: 32px 32px 0 0;
}
