@import "mixins";
@import "variables";

.profile-icon-xl {
  @include profile-icon;
  width: 100%;
  height: 100%;
}

.active-tab {
  min-width: 40px !important;
  border-bottom: 4px solid $dark-teak;
}

.tab-hover:hover {
  background-color: $porcelain;
}

.profile-banner {
  height: 40%;
  background-color: $porcelain;
}

.media-max-size {
  max-height: 380px !important;
  min-width: 284px;
  overflow: hidden;
  border-radius: 15px;
}

.dp-container {
  width: 13vh;
  height: 13vh;
  margin-top: -49%;
}

.align-sub {
  vertical-align: sub;
}

.options-border {
  border-radius: 32px 32px 0 0;
}

.error {
  position: fixed;
  z-index: 100;
  bottom: 0px;
  left: 0;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-align: start;
  padding: 15px;
  transition: ease 0.3s;
}

.error-bottom-50 {
  bottom: 50px;
}

.hearted {
  width: 48px;
  height: 16px;
  position: relative;
  left: -16px;
  background: url("https://github.com/de-neb/hooter/blob/main/src/assets/heart.png?raw=true")
    no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.heart-checkbox {
  &:checked ~ .hearted {
    font-size: 0 !important;
    background-position: -1400px 0;
    animation: fave-heart 1s steps(28);
  }
}

.counter-up {
  display: inline-flex;
  opacity: 0;
  transform: translate3d(0, -20px, 0);
  transition: 0.1s ease-in-out;
}
.counter-down {
  display: inline-flex;
  opacity: 0;
  transform: translate3d(0, 20px, 0);
}
.counter-initial {
  display: inline-flex;
  opacity: 1;
  transform: translate3d(0, 0px, 0);
  transition: 0.1s ease-in-out;
}

@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1400px 0;
  }
}

.modal-width-small {
  width: 320px !important;
}
