@import "variables";
* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

a,
p,
button,
option,
h6 {
  font-size: 15px !important;
}

select {
  cursor: pointer !important;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.text-teak {
  color: $teak !important;
}

.btn-md {
  height: 42px !important;
}

.btn-lg {
  height: 50px !important;
}

.btn-secondary {
  background: $teak !important;
  border: none !important;
  font-weight: bold !important;
  &:hover {
    background: $dark-teak !important;
  }
}

.btn-outline-teak {
  border: 1px solid $teak !important;
  color: $teak !important;
  font-weight: bold !important;
  &:hover {
    background: $light-teak !important;
  }
}

.btn-outline-secondary {
  border: 1px solid $pattens-blue !important;
  font-weight: 600 !important;
  color: $black !important;
  &:hover {
    background: $pattens-blue !important;
  }
}

.material-icons,
.material-icons-outlined {
  line-height: inherit !important;
}

.p-15px {
  padding: 15px !important;
}

.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "home";
@import "main-content";
@import "login-signup";
