@import "variables";
* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

a,
p,
button,
option,
h6 {
  font-size: 15px !important;
}

select {
  cursor: pointer !important;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.text-teak {
  color: $teak !important;
}

.btn-md {
  height: 42px !important;
}

.btn-lg {
  height: 50px !important;
}

//home page
@import "home";
@import "login";
