@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap"); //

$teak: #b4846c;
$dark-teak: #906a56;
$light-teak: #f0e6e2;
$cofee: #7d5a50;
$pattens-blue: #d2dbe0;
$black: #494949;
$open-sans: "Open Sans", sans-serif;
