@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap"); //

// colors
$teak: #b4846c;
$dark-teak: #906a56;
$light-teak: #f0e6e2;
$cofee: #7d5a50;
$pattens-blue: #d2dbe0;
$black: #494949;
$porcelain: #eff3f4;
// fonts
$open-sans: "Open Sans", sans-serif;

// sizes
$dp-icon-size: 32px;
$sparkle-size: $dp-icon-size;
