@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap");
// variables
$teak: #b4846c;
$dark-teak: #906a56;
$light-teak: #f0e6e2;
$cofee: #7d5a50;
* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

//login page
.home-main-container {
  display: flex;
  flex-direction: column;
}

.right-container {
  max-width: 600px;
  min-width: 45vw;
}

.horizontal {
  width: 40%;
  height: 1px;
  background-color: #6c757d49;
}
.btn-max-width {
  max-width: 300px;
}

.greet {
  text-align: start;
  font-weight: 800;
  font-size: 45px;
  font-family: "Open Sans", sans-serif;
}

.sub-greet {
  font-family: "Open Sans", sans-serif;
}

.tos {
  font-size: 10px;
  text-align: start;
}

.bg-container {
  padding: 0;
  position: relative;
  min-height: 45vh;
  height: 100%;
  overflow: hidden;
}

.logo-color {
  fill: $teak;
}

.logo-sm {
  width: 48px;
  height: 48px;
}

.logo-lg {
  height: 70%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  .logo-color {
    fill: rgb(255, 251, 251);
  }
}

.parallax {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-image: url(https://raw.githubusercontent.com/de-neb/hooter/main/src/assets/boot.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  z-index: -1;
  position: absolute;
  filter: brightness(80%) !important;
}

.footer-links {
  text-decoration: none;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;

  .link-text {
    display: inline-block;
    white-space: nowra;
    &:hover {
      text-decoration: underline;
    }
  }
}

.btn-secondary {
  background: $teak !important;
  border: none !important;
  font-weight: bold !important;
  &:hover {
    background: $dark-teak !important;
  }
}

.btn-outline-secondary {
  border: 1px solid $teak !important;
  color: $teak !important;
  font-weight: bold !important;
  &:hover {
    background: $light-teak !important;
  }
}

//media queries

@media (min-width: 516px) {
  .greet {
    font-size: 61px;
  }
  .sub-greet {
    font-size: 29px;
  }
}

@media (min-width: 1015px) {
  .logo-lg {
    height: 40%;
  }
  .home-main-container {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .top-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex: 1;
    .right-container {
      order: 2;
    }
    .bg-container {
      order: 1;
      flex: 1;
    }
  }
  .bottom-child {
    width: 100%;
  }
}
