@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.text-teak {
  color: #b4846c !important;
}

.home-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.right-container {
  max-width: 600px;
  min-width: 45vw;
}

.horizontal {
  width: 40%;
  height: 1px;
  background-color: #6c757d49;
}

.btn-max-width {
  max-width: 300px;
}

.greet {
  text-align: start;
  font-weight: 800;
  font-size: 45px;
  font-family: "Open Sans", sans-serif;
}

.sub-greet {
  font-family: "Open Sans", sans-serif;
}

.tos {
  font-size: 10px;
  text-align: start;
}

.bg-container {
  padding: 0;
  position: relative;
  min-height: 45vh;
  height: 100%;
  overflow: hidden;
}

.logo-color {
  fill: #b4846c;
}

.logo-sm {
  width: 48px;
  height: 48px;
}

.logo-lg {
  height: 70%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
}

.logo-lg .logo-color {
  fill: #fffbfb;
}

.parallax {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-image: url(https://raw.githubusercontent.com/de-neb/hooter/main/src/assets/boot.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  z-index: -1;
  position: absolute;
  -webkit-filter: brightness(80%) !important;
          filter: brightness(80%) !important;
}

.footer-links {
  text-decoration: none;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.footer-links .link-text {
  display: inline-block;
  white-space: nowra;
}

.footer-links .link-text:hover {
  text-decoration: underline;
}

.btn-secondary {
  background: #b4846c !important;
  border: none !important;
  font-weight: bold !important;
}

.btn-secondary:hover {
  background: #906a56 !important;
}

.btn-outline-teak {
  border: 1px solid #b4846c !important;
  color: #b4846c !important;
  font-weight: bold !important;
}

.btn-outline-teak:hover {
  background: #f0e6e2 !important;
}

.btn-outline-secondary {
  border: 1px solid #d2dbe0 !important;
  font-weight: 600 !important;
  color: #494949 !important;
}

.btn-outline-secondary:hover {
  background: #d2dbe0 !important;
}

@media (min-width: 516px) {
  .greet {
    font-size: 61px;
  }
  .sub-greet {
    font-size: 29px;
  }
}

@media (min-width: 1015px) {
  .logo-lg {
    height: 40%;
  }
  .home-main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .top-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .top-child .right-container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .top-child .bg-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .bottom-child {
    width: 100%;
  }
}

.low-opacity-backdrop {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-container {
  background: #ffff;
  height: 650px;
  min-height: 400px;
  max-width: 80vw;
  width: 600px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 45px;
}

.modal-top {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.modal-top .logo-sm-login {
  height: 1.75rem;
}

.modal-top .circle-x {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
}

.modal-top .circle-x:hover {
  background: #eeeded;
}

.modal-body-cstm {
  min-width: 364px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: auto;
  padding: 0px 30px 46px !important;
}

.modal-body-cstm .sign-up-text {
  text-align: left;
  font-size: 14px;
}

.underline-hover {
  text-decoration: none;
}

.underline-hover:hover {
  text-decoration: underline;
}

.hover-dark:hover {
  background: #212529e1 !important;
}

.eye-container {
  position: absolute;
  bottom: 20px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 10px;
  height: 24px;
  width: 24px;
}

.eye-container:hover {
  background: #d2dbe0;
  border-radius: 50%;
}

.eye-container .eye-checkbox {
  width: 24px;
  height: 24px;
  opacity: 0;
  margin-left: calc(-1 * (24px / 2));
  position: absolute;
  z-index: 3;
  cursor: pointer;
}

.eye-container .eye {
  position: absolute;
  z-index: 1;
  margin-left: calc(-1 * (24px / 2));
}

.padding-right {
  padding-right: 35px !important;
}

@media (max-width: 769px) {
  .border-none {
    border-radius: 0;
  }
  .modal-top {
    max-width: 650px;
    margin: 0 auto;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */